@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
}

.leaflet-container {
  height: 100%;
  width: 100%;
}

/* Ensure the map container fills the viewport */
#map {
    height: 100vh;
    width: 100%; /* Optional: Ensures full width if needed */
    margin: 0;
    padding: 0;
  }
  
  /* Add this if you have a body or html height issue */
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevent scrollbars */
  }
  

